@page "/{id:int}/{idP:int}/openComments/"

@using BusinessLogic
@using BusinessLogic.DTOs
@inherits Auth
@inject UserDto UserLog
@inject CommentLogic CommentLogic
@inject TaskLogic TaskLogic

<h1>
    Comments User
    <a href="/@Id/@IdP/addComment/"  class="btn btn-success btn-sm" style="float: right;margin-right: 40px;">Add new comment</a>
</h1>

<h3>
    User Logged: @UserLog.FirstNameAndLastName, Current Task: @_currentTask.Title
</h3>

<table class="table">
    <thead>
    <tr>
        <th>Content</th>
        <th>Author</th>
        <th>CreateDate</th>
        <th>Resolved</th>
        <th>ResolutionDate</th>
        <th>ResolverUser</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var comment in _comments)
    {
        <tr>
            <td>@comment.Content</td>
            <td>
                @if (comment!=null)
                {
                @:@comment.AuthorDto.FirstNameAndLastName
                }
                else
                {
                @:""
                }
            </td>
            <td>@comment.DateAndTime</td>
            <td>
                @if (comment.Resolved)
                {
                    @:Yes
                }
                else
                {
                    @:Not resolved
                }
            </td>
            <td>
                @if (comment.Resolved)
                {
                    @comment.ResolutionDateTime
                }
                else
                {
                    @:Not resolved
                }
            </td>
            <td>
                @if (comment.Resolved)
                {
                    @comment.ResolverDto.FirstNameAndLastName
                }
                else
                {
                    @:Not resolved
                }
            </td>
            <td>
                <button class="btn btn-success btn-sm" @onclick="(() => Solve(comment.Id))">Solve</button>
            </td>
        </tr>
    }


    <br />

    <div class="form-error">
        @_message
    </div>

    <br />
    </tbody>
</table>

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public int IdP { get; set; }
    private string _message = "";

    private TaskDto? _currentTask;
    private List<CommentDto>? _comments;
    private UserDto? _currentUser;

    protected override void OnInitialized()
    {
        _currentUser = UserLog;
        _currentTask = TaskLogic.GetTaskById(Id, IdP);
        _comments = _currentTask!.CommentsDtos;
    }
    
    private void Solve(int id)
    {
        try
        {
            CommentLogic.SolveComment(id,_currentUser!.Id,Id,IdP);
            _currentTask = TaskLogic.GetTaskById(Id, IdP);
            _comments = _currentTask!.CommentsDtos;
        }
        catch (ArgumentException ex)
        {
            _message = ex.Message;
        }
    }
}